body {
  background-color: rgb(228, 228, 228);
}

.h1 {
  color: rgb(10, 10, 10);
  text-align: center;
  font-family: 'Franklin Gothic Light';
}

p {
  font-family: verdana;
  font-size: 28px;
}

.list-movies{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem; 
}